.full-panel {
	width: 100%;
	height: 100%;
}

.left-panel {
	width: 20%;
	height: 100%;
	float: left;
}

.right-panel {
	width: 80%;
	height: 100%;
	float: left;
}

.right-panel-inner {
	width: 100%;
	height: 50%;
}

.left-panel-inner {
	width: 100%;
	height: 50%;
	border-right: groove;
}

.para-typo {
	font-family: Montserrat;
	color:  #333333;
	font-size: 13px;/* Approximation due to font substitution */
	font-weight: 800;
}

.heading-typo {
	font-family: Montserrat;
	color:  #ffffff;
	font-size: 16px;/* Approximation due to font substitution */
	font-weight: 300;
	text-align: center;
	transform: scaleX(1.0012);/* width and height properties ommitted due to transform */
}

.logo-outer {
	width: 100%;
	height: 40%;
}

.logo-img {
	width: 90%;
	height: 100%;
	padding: 10% 10%;
}

.nav-list {
	padding: 14% 20%;
	width: 100%;
	height: 60%;
	font-family: Montserrat;
	color:  #0592d0;
	font-size: 100%;/* Approximation due to font substitution */
	font-weight: 400;
	line-height: 30px;/* Approximation due to font substitution */
	text-align: left;
}

.login {
	width: 100%;
	height: 85%;
	background-color:  #dddddd;
}

.outer-div .login {
	border-right: groove;
}

.outer-div .copy-right {
	border-right: groove;
}

.oval {
	border-radius: 20px;
	height: 10%;
}

.check div{
	padding: 6% 0% 0% 0%;
}
/*.form-control {
	width: 80%;
	height: 10%;
	border-radius: 20px;
}

.form-fields {
	margin-top: 4%;
	margin-left: 18%;
}*/

.forgot-password {
	text-align: center;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 300;
	line-height: 28px;
}

.forgot-password a {
	color:  #333333;
}

.social-buttons {
	width: 100%;
	height: 10%;
}

.sign-up {
	margin-top: 25%
}

#banner-outer {
	background-image: url("img/banner.png");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

#banner-title {
	margin: auto;
	padding: 5%;
}

.title {
	font-family: Montserrat;
	color:  #ffffff;
	font-size: 29px;/* Approximation due to font substitution */
	font-weight: 300;
	text-align: center;
	transform: scaleX(1.0012);/* width and height properties ommitted due to transform */
}

.search-bar {
	margin-left: 23%;
	margin-top: -5%;
}

.search-form {
	padding: 1% 3%;
	border-style: solid;
	border-width: 2px;
	border-color:  rgba(0, 0, 0, 10);
	border-radius: 50px;
	box-sizing: border-box;
	background-color:  rgba(255, 255, 255, 0.9);
	width: 70%;
	height: 15%;
}

#search-icon {
	background-image:url(../img/search.png); 
	background-repeat: no-repeat; 
	background-position: 98% 50%;
}

#search-terms {
	margin-left: -36%;
}

.service-list {
	margin-left: 1%;
	padding: 2% 2% 2% 2%;
}

.service-icons {
	width: 16.5%;
	height: 45%;
	padding: 1% 1% 1% 1%;
	float: left;
}

.service-icons-box {
	margin-left: 13%;
	border-radius: 50%;
	border-style: solid;
	border-width: 1px;
	border-color:  #d4d7d9;
	box-sizing: border-box;
	background-color:  #f8f8f8;
	width: 65%;
	height: 75%;
	position: relative;
	vertical-align: middle;
}

.service-name {
	font-family: Montserrat;
	color:  #333333;
	font-size: 100%;/* Approximation due to font substitution */
	font-weight: 300;
	text-align: center;
	transform: scaleY(1.0184);/* width and height properties ommitted due to transform */
}

.icon-img {
	width: 30%;
	height: 36%;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
  padding: 0% 2%;
  pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}

.vertical-align-center {
	display: table-cell;
  vertical-align: middle;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
    border-radius: 15px;
		background-color:  #ffffff;
		width: 62.5%;
		height: 56%;
}

.modal-left-inner-body {
	width: 40%;
	height: 100%;
	float: left;
	background-image: url("../img/modal-image2.png");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.modal-right-inner-body {
	width: 60%;
	height: 100%;
	float: left;
	padding: 3% 3% 3% 3%;
}

#sign-up-modal-image {
	width: 79%;
	height: 57.9%;
	margin-left: 3%;
	margin-top: -12%;
	border-radius: 15px;
}

.signup-form-fields {
	margin-top: 2%;
	width: 100%;
	height: 10%;
}

.copy-right {
	width: 100%;
	height: 15%;
}